include README
include COPYING
include LICENSE
include AUTHORS
recursive-include pyoauth *.py
include docs/*.txt
include docs/*.xml
include docs/Makefile
include docs/make.bat
recursive-include docs/source *
